.main > *{
  height: 100vh;
  flex-grow: 1;
}
.rounded-circle{
  height: 50px;
  aspect-ratio: 1;
}
.flag{
  width: 100px;
  aspect-ratio: 3/2;
}
.header{
  height: 10vh;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.bg-danger{
  direction: rtl;
}