.top-40 {
  top: 42%;
}
.bottom-40 {
  bottom: 15%;
}
.modal-text {
  font-size: 8rem;
}

.backgroundGradient {
  background: #0d6efd;
  background: linear-gradient(
    135deg,
    rgba(13, 110, 253, 1) 15%,
    rgba(220, 53, 69, 1) 85%
  );
  padding: 7.5vh !important;
}
.backgroundGradient > *:nth-child(1) {
  height: 10vh;
}
.backgroundGradient > *:nth-child(2) {
  height: 75vh;
}
.match > * {
  padding: 1rem;
}
.custom {
  width: 42.5vw;
}
.controlHeader {
  width: 15vw;
}
.temp {
  transform: translateY(-100%);
}
.test {
  height: 58px;
}

.main > * {
  height: 100vh;
  flex-grow: 1;
}
.flag {
  width: 100px;
  aspect-ratio: 3/2;
}
.header {
  position: absolute;
  height: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.bluePlayer {
  background-color: var(--player-blue);
}
.redPlayer {
  background-color: var(--player-red);
}
.rightSide {
  direction: rtl;
}
.points {
  font-size: 12rem;
  font-weight: bold;
}
.mainTimer {
  top: 32%;
  font-size: 8rem;
  font-weight: bold;
}
.playerTimer {
  font-size: 5rem;
  font-weight: bold;
}

.borderGray {
  border-color: rgba(255, 255, 255, 0.1) !important;
}
